extends ../layout/admin

block styles
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")
    meta(name="csrf-token" content= csrfToken)


block content

   div.py-10 
      h1.text-4xl.my-5.font-extrabold.text-center REAL
         spam.font-light ESTATE
      h2.text-center.text-2xl.font-bold= page

      div(class='bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10')
        form(id="images" class="dropzone border-dashed border-2 w-full min:h-96 h-auto rounded flex-col justify-center items-center" method="POST" action= `/properties/add-image/${property.id}`)
            input(type="hidden" name='_csrf' value=csrfToken)
            .space-y-4

        button(id="publish" class="mt-5 w-full bg-gray-600 text-gray-300 rounded-md py-2 cursor-pointer uppercase hover:bg-gray-300 hover:text-gray-600" type="button") Publish property

                

block scripts 
    script(src="/js/addImage.js")
    
