extends ../layout/index

block content
   div.py-10 
      h1.text-4xl.my-5.font-extrabold.text-center REAL
         spam.font-light ESTATE
      h2.text-center.text-2xl.font-bold= page

      a(href="/properties/create" class="rounded-md my-4 py-2 px-10 mx-3 bg-gray-600 text-gray-300 text-sm font-bold text-center uppercase cursor-pointer hover:bg-gray-300 hover:text-gray-600 inline-block w-full sm:w-auto") Publish Property  