header.bg-red-700.p-4
    .container.mx-auto.flex.justify-between.items-center
        a(href="/")
            h1.text-2xl.text-gray-100.font-extrabold.text-center REAL
                span.font-normal ESTATE
        nav(class='my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-red-100 hidden')
            a(href='/auth/signup') SignUp
            a(href='/auth/login') LogIn

div(class="bg-red-800  py-5 hidden lg:block")
    div(class="container mx-auto flex justify-between")
        nav(class="flex gap-4 items-center")
            a(href="/category/1" class="text-sm font-bold uppercase text-gray-50 text-center") Houses
            a(href="/category/2" class="text-sm font-bold uppercase text-gray-50") Apartments
            a(href="/category/3" class="text-sm font-bold uppercase text-gray-50") Stores
            a(href="/category/4" class="text-sm font-bold uppercase text-gray-50 ") Lands 
            a(href="/category/5" class="text-sm font-bold uppercase text-gray-50") Cabins
        
        form(action='/search' method='POST' class='flex gap-3 items-center')
            input(type='hidden' name='_csrf' value=csrfToken)
            //- label(for="term" class='text-sm uppercase font-bold text-white') search 
            input(type="text" id='term' name='term' placeholder='Search Properties' class=' p-2 rounded-lg shadow text-sm')
            input(type="submit" class='bg-red-900 hover:bg-red-600 rounded-lg text-white uppercase font-bold p-2 cursor-pointer text-sm' value='search') 
                    